*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}
body{
    font-family: sans-serif;
}
.theme{
    background-color: rgb(210, 224, 228);
}

.gamestats{
    display:flex;
    justify-content: space-evenly;
    text-align: center;
    font-size:2rem;
}

.gamecardgrid{
   Display: grid;
   margin:0px;
   /* height:93vh  */
   height:100%; 
   grid-template-columns: auto auto auto auto;
   grid-column-gap: 5px;
   grid-row-gap:15px;
   justify-items: center;
   padding:1rem 5rem 0rem 5rem; 
}

.gamecard{
    width: 10vh; 
    height:15vh;
    /* border:solid burlywood 3px;  */
    border-radius:7px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .7s ;
}

.gamecard:hover{
    transform: scale(1.20);
    transition: rotate(.2s);
    box-shadow: 3px 3px 3px rgba(0,0,0,.4);
}
.gamecard:active{
    transform: scale(1.20);
    transition: rotate(.2s);
}

.gamecard.flip {
    transform: rotateY(180deg);
}

.cardimg,
.cardbg{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
}

.cardimg{
    transform: rotateY(180deg);
}

ul#highscore-list li:first-child  {
    font-weight: bold;
    font-size:27px;
}

.deck-selector {
 
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border:gold 2px solid;
}
.deck-selector:hover {
    border:green 2px solid;
}
.deck-selector:active {
    transform:scale(1.05);
}