*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}
body{
    font-family: sans-serif;
}
.theme{
    background-color: rgb(210, 224, 228);
    height:100vh;
}

.header{
    text-align: center;
}

.footer{
    text-decoration: none;
    text-align: center;
    padding:1rem 2rem 1rem 1rem;
}

.gamestats{
    display:flex;
    justify-content: space-evenly;
    text-align: center;
    font-size:2rem;
}

.gamecardgrid{
   Display: grid;
   margin:0px;
   /* height:93vh  */
   height:100%; 
   grid-template-columns: auto auto auto auto;
   grid-column-gap: 5px;
   grid-row-gap:15px;
   justify-items: center;
   padding:1rem 5rem 0rem 5rem; 
}

.gamecard{
    width: 10vh; 
    height:15vh;
    /* border:solid burlywood 3px;  */
    border-radius:7px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .7s ;
}

.gamecard:hover{
    transform: scale(1.20);
    transition: rotate(.2s);
    box-shadow: 3px 3px 3px rgba(0,0,0,.4);
}
.gamecard:active{
    transform: scale(1.20);
    transition: rotate(.2s);
}

.gamecard.flip {
    transform: rotateY(180deg);
}

.cardimg,
.cardbg{
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
}

.cardimg{
    transform: rotateY(180deg);
}



#sidebar {
    height: 100%;
    overflow:auto;
    position: absolute;
    /* left: 0; */
    top: 0;
    z-index: 1;
    background:white;
    width: 0%;
    box-shadow: 2px 0 4px rgba(0,0,0,0.5);
}

#sidebar.collapsed {
    width: 0;
}

#sidebar ul {
    list-style-type: none;
}
#sidebar ul li{
    padding:5px 10px;
    width: 100%;
    text-align: center;
}

.toggler {
    border-radius: 50%;
    border:none;
    outline:none;
    width: 35px;
    height: 35px;
    background: rgba(0, 0, 0, 0.055);
}

.deck-modal-dialog{
    height:80%;
}

.deck-modal-content{
    height:100%;
}

/* .modal-dialog{
    height:80%;
} */

/* .modal-content {
    height: 100%;
  } */

.deck-container{
    margin-top:1rem;
    margin-bottom:2rem;
    /* height:50vh; */
    display:flex;
    justify-content:space-evenly;
}

.deck-card{
    width:20%;
    height:17vh;
}

.deck-card:hover{
    transform: scale(1.20);
    transition: rotate(.2s);
    box-shadow: 3px 3px 3px rgba(0,0,0,.4);
}

.deck-card:active{
    transform:scale(1.35);
    transition: rotate(.2s);
}

.deck-img{
    border-radius:7px;
    background-size: 100% 100%;
    box-shadow:2px 2px 2px rgba(0,0,0,.4);
    width:100%;
    height:100%;
}

.deck-title{
    padding-top:1rem;
    font-size:20px;
    text-align: center;
}