body {
    text-align: center;
}
.gamecardgrid{
   Display: inline-grid;
   background-color: beige; 
   border:solid black 1px;
   grid-template-columns: auto auto auto auto;
   grid-column-gap: 15px;
   grid-row-gap:10px;
   justify-items: center;
   padding: 15px; 
   
}
.gamecard {
    width:100px;
    height:135px;
    font-size:55px;
    background: brown;
    border:solid burlywood 5px; 
    border-radius:7px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* gia na mi kaluptei ta border corners to image*/
    overflow: hidden;
    
    
}
.cardimg{
    
    width:100%;
    height:100%;
    opacity:0%;
    object-fit: fill; 
    display:block;
    
}

.card:hover {
    opacity: 50%;
}
.gameinfo {
    border:solid 1px black;
    background-color: beige;
    
    /*width:15%;
     kanw align sto*/
}
.ScoreScreen {
    border:solid 1px black;
    background-color: beige;
    text-align:center;
}
.ScoreClass {
   /* display:inline; 
    padding:15px;*/
    font-size:25px;
    text-align:center;
}